# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly


# API for fetching hotels
NEXT_PUBLIC_API_ENDPOINT="/api/hotels"
# API for fetching hotels (Mockup server postman)
# NEXT_PUBLIC_API_ENDPOINT="https://69b0b287-b68c-4ea1-8e28-7cd43b40f413.mock.pstmn.io/hotels/"
